/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-image: url(../Assets/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#heading{
    min-height: 50px;
    justify-content: center;
    padding-top: 80px;
}

.about-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text.close{
    display: none;
}

#heading .text{
    display: inline-block;
    width: 1000px;
    font-size: 50px;
    color: #F8F3A9;
    text-align: center;
    font-family: cursive;
}

.img{
    display: flex;
    justify-content: center;
    cursor: pointer;
    opacity: 0.8;
    margin-top: 36px;
}

.letter.close{
    display: none;
}

.img:hover{
    opacity: 1;
}

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open{
    display: flex;
}

.modal-container{
    width: 650px;
    min-height: 200px;
    background-color: rgba(255, 255, 255, 0.5);
    animation: appear ease 1s;
}

.modal-fb{
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.modal-fb-phuc{
    width: 100px;
}

.modal-fb a{
    font-size: 30px;
    color: black;
    text-decoration: none;
    font-family: cursive;
    margin-left: 16px;
}

.modal-fb a:hover{
    color: red;
}

.modal-content{
    padding: 24px;
}

.modal-content h3{
    margin-bottom: 16px;
}

.modal-text{
    font-size: 18px;
/*     text-align: justify; */
}

@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
